body {
    background-color: #e6e6e7;
}
div.top-bar {
    text-align: center;
    background-color: #00722d;
    padding: 1px;
}
div.filter-bar {
    font-family: sans-serif;
    text-align: center;
    padding: 10px;
}
div.c1 {
    width: 20%;
    float:left;
    padding-left:5%;
}
div.c2 {
    width: 65%;
    float: right;
    padding-right: 8%;
}
div.c3 {
    width: 25%;
    float:left;
    padding-top: 30px;
    padding-left: 2%;
}
div.c4 {
    width: 60%;
    float:right;
    padding-right: 12%;
    padding-top: 40px;
}
div.c5 {
    width:30%;
    float:left;
    padding-top: 30px;
}
div.c6 {
    width: 30%;
    float:right;
    padding-right: 13%;
    padding-top: 30px;
}
div.c7 {
    position: relative;
    float: left;
    width: 100%;
}
h1 {
    font-size: 30px;
    font-family: sans-serif;
    color: white;
}
h2 {
    font-size: 20px;
    font-family: sans-serif;
    color: #3D4A3E;
    text-align: center;
}
header {
    font-size: 18px;
    font-family: sans-serif;
    color: #436B78;
}
p {
    font-size: 16px;
    font-family: sans-serif;
    color: #2F4858;
    background-color: white;
    padding:10px;
    border-radius: 8px;
}
section.s1 {
    width: 42%;
    padding-left: 5%;
    float:left;
}
section.s2 {
    width: 42%;
    padding-right: 8%;
    float: right;
}
footer {
    width: 100%;
    text-align: center;
    color:grey;
}
